<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="INFO">
    <Properties>
        <Property name="pattern">%d{yyyy-MMM-dd HH:mm:ss} | [%t] | %-5p %c{3} | (%F:%L) - %m%n</Property>
        <Property name="log-dir">log/</Property>
    </Properties>

    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="${pattern}"/>
        </Console>
        <RollingFile name="rolling-file" fileName="${log-dir}/fitness.log" append="true"
                     filePattern="${log-dir}/log.%d{yyyy-MM-dd HH-mm-ss}.log" ignoreExceptions="false">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <OnStartupTriggeringPolicy minSize="0"/>
            </Policies>
            <DefaultRolloverStrategy max="6"/>
        </RollingFile>

    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="rolling-file"/>
        </Root>
    </Loggers>
</Configuration>