.main {
  background-color: #2c2f4d;
  padding-top: 50px;
  height: 800px;
  &-navigation {
    border: 2px solid #a2c893;
    background-color: #f4f1bc;
    border-radius: 8px;
    a {
      color: black;
    }
  }

  &-section {
    padding: 20px auto;
    margin-top: 40px;
    min-height: 600px;
    border: 2px solid #a2c893;
    background-color: #f4f1bc;
    border-radius: 10px;
    h2 {
      margin: 40px auto;
      text-align: center;
      display: block;
    }
    p {
      padding: 20px auto;
      font-size: 20px;
    }
  }

  &-form {
    border: 2px solid #a2c893;
    background-color: #f4f1bc;
    border-radius: 10px;
    padding: 40px;
  }
}