.header {
  background-color: #129ef4;
  height: 90px;
  vertical-align: center;
}
.header .row {
  height: 100%;
}
.header-locale {
  vertical-align: center;
  height: 100%;
}
.header-locale-button {
  display: block;
  background-color: #bec7b5;
  color: black;
  margin: 30px 10px 10px;
}
.header-locale img {
  width: 20px;
}
.header-title {
  margin-top: 20px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: #383838 2px 2px;
  font-style: italic;
  color: #d7eb0a;
}
.header-box {
  margin-top: 20px;
  margin-right: 20px;
  background-color: #e9e9e9;
  border: 3px solid black;
  border-radius: 5px;
}
