.main {
  background-color: #1d303b;
  padding: 50px;
  min-height: 700px;
}
.main-navigation {
  border: 2px solid #a2c893;
  background-color: #f4f1bc;
  border-radius: 8px;
}
.main-navigation a {
  color: black;
}
.main-box {
  margin-top: 20px;
  margin-right: 20px;
  min-height: 60px;
  min-width: 80px;
  background-color: #f4f1bc;
  border: 3px solid #a2c893;
  border-radius: 5px;
}
.main-section {
  padding: 20px auto;
  margin-top: 40px;
  min-height: 600px;
  border: 2px solid #a2c893;
  background-color: #f4f1bc;
  border-radius: 10px;
}
.main-section h2 {
  margin: 40px auto;
  text-align: center;
  display: block;
}
.main-section p {
  padding: 20px auto;
  font-size: 20px;
}
.login-form {
  border: 2px solid #a2c893;
  background-color: #f4f1bc;
  border-radius: 10px;
  padding: 40px;
}
.reg-form {
  border: 2px solid #a2c893;
  background-color: #f4f1bc;
  border-radius: 10px;
  padding: 40px;
}
